@model UserDtoForCreation

<div class="text-center">
    <div class="display-6">Create User</div>
</div>

<form method="post" asp-action="Create">
    <div class="row">
        

        <div class="col-md-6">

            <div class="row">
                <div class="col">
                    <div class="form-group my-3">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control
                    @(ViewData.ModelState["FirstName"]?.Errors.Any() == true ? "is-invalid" : "")" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group my-3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control
                    @(ViewData.ModelState["LastName"]?.Errors.Any() == true ? "is-invalid" : "")" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group my-3">
                        <label asp-for="Age"></label>
                        <input asp-for="Age" class="form-control
                        @(ViewData.ModelState["Age"]?.Errors.Any() == true ? "is-invalid" : "")" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group my-3">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" placeholder="05501234567" class="form-control
                        @(ViewData.ModelState["PhoneNumber"]?.Errors.Any() == true ? "is-invalid" : "")" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control
            @(ViewData.ModelState["UserName"]?.Errors.Any() == true ? "is-invalid" : "")" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control
            @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "is-invalid" : "")" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control
            @(ViewData.ModelState["Password"]?.Errors.Any() == true ? "is-invalid" : "")" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-plus"></i>
                        Create
                    </button>
                    <button asp-action="Index" class="btn btn-outline-primary">
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="lead p-2 mt-2">
                <label asp-for="Roles"></label>
                @foreach (var item in ViewBag.Roles)
                {
                    <div class="form-check my-2">
                        <input type="checkbox" name="Roles" value="@item" class="form-check-input" />
                        <label class="form-check-label">@item</label>
                    </div>
                }
            </div>
            <span asp-validation-for="Roles" class="text-danger"></span>

            <div class="text-muted">
                Please choose the roles for the user.
            </div>
        </div>
    </div>
</form>

